.navbar {
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .08);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:60px;
    z-index: 930;
    max-height: 340px;
    top: 0;
}

#navbar-logo {
    float: left;
    height: auto;
    padding: 0;
    margin-left: -16px;
    margin-bottom: 2px;
}

#navbar-menu {
    display: flex;
    justify-content: flex-end;
    float: right;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}

#navbar-menu a{
    margin: 0 15px;
    color: #777;
    text-decoration:none;
}

#navbar-menu li.active a {
    color: #333;
}