body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.container {
    width: 970px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    color: #808080;
    box-sizing: border-box;
    position: relative;
}

/* Navigation Bar  ########################################################################################## */

.navbar {
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .08);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:60px;
    z-index: 930;
    max-height: 340px;
    top: 0;
}

#navbar-contents {
    display: flex;
    justify-content: space-between;
}
#navbar-logo {
    float: left;
    height: auto;
    padding: 0;
    margin-left: -16px;
    margin-bottom: 2px;
}

#navbar-menu {
    display: flex;
    justify-content: flex-end;
    float: right;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}

#navbar-menu a{
    margin: 0 15px;
    color: #777;
    text-decoration:none;
}

#navbar-menu li.active a {
    color: #333;
}

/* Content  ########################################################################################## */

#content {
    top: 60px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.metrics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px 0;
}

#categories {
    flex-grow: 1;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#graph {
    flex-grow: 4;
    display: flex;
    justify-content: center;
}

/* Footer  ########################################################################################## */

#footer {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-bottom: 100px;
    color: #808080;
}

.col-sm-8 {
    float: left;
    width: 66.66666667%;
}

.col-sm-4 {
    float: right;
    width: 33.33333333%;
}

.small {
    font-size: 85%;
}

.text-right {
    text-align: right;
}

.funder_logo {
    text-align: right;
}

img {
    vertical-align: middle;
}

#footer .funder_logo span {
    font-size: .85em;
    margin-right: .3em;
    vertical-align: center;
}